:root {
    --blue: #43a2b9;
    --red: #dd3030;
}

.App {
    height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: row;
    box-sizing: border-box;
    gap: 10px;
}

.Column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    place-content: center;
    place-items: center;
    height: 100%
}

.Row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h1,
h2,
h3 {
    margin: 0
}

button {
    border-style: none;
    color: white;
    background-color: var(--blue);
    transition: 0.25s background-color ease-in-out;
    font-size: 1.25em;
    padding: 5px 10px;
}

button:hover {
    background-color: #3b8a9e;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50vh;
    height: 50vh;
}

.grid>.Tile {
    padding: 10px;
    border: 2px solid white;
}

.Tile {
    font-size: 2.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.blue {
    color: var(--blue);
}

.red {
    color: var(--red)
}

#left {
    border-right: 4px solid white;
}

@media screen and (max-width: 800px) {
    .App {
        flex-wrap: wrap;
    }

    .Column {
        height: auto;
    }
}